@font-face {
    font-family: _main_font;
    src: url(Inter-Regular.woff2);
}
*{
  font-family: _main_font !important;
  outline: 0 !important;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*[selectable="true"] > *{
  user-select: text;
  -webkit-touch-callout: auto;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
:root{
    --PrimaryColor: #126DFF;
    --LightPrimaryColor:  #4E90FB;
    --SecondaryColor:  #0556D9;
    --BasicColor: white;
    --BackgroundColor: white;
    --RippleEffect: white;
}
body{
  display:flex;
}
.root{ /*Body element*/
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-height: auto;
  min-width: auto;
}
button::-moz-focus-inner{
  border:0;
}
button {
    overflow: hidden;
    position: relative;
}
button .ripple {
    border-radius: 100%;
    background-color: var(--RippleEffect);
    position: absolute;
    transform: scale(0);
    animation: _button_ripple 0.3s linear;
    opacity: 10;
}
d-tabs .ripple {
    border-radius: 100%;
    background-color: var(--RippleEffect);
    position: absolute;
    transform: scale(0);
    animation: _button_ripple 0.3s linear;
    opacity: 10;
}
.card.ripple .ripple{
  border-radius: 100%;
    background-color: var(--RippleEffect);
    position: absolute;
    transform: scale(0);
    animation: _button_ripple 0.3s linear;
    opacity: 10;
}
@keyframes _button_ripple {
  75% {
  transform: scale(4); opacity: 0.8;
  }
  100%{
     transform: scale(4); opacity: 0;
  }
 }
button:not(.FloatingButton){
    margin: 0 auto;
    line-height: 32px;
    text-align: center;
    color: white;
}
button:not(.disabled):not(.FloatingButton){
    transition: 0.2s;
    height: auto;
    width: auto ;
    background: var(--PrimaryColor);
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    margin:7px 2px;
    padding: 1px 11px;
}
button:hover:not(.disabled):not(.FloatingButton){
    transition: 0.2s;
    background: var(--LightPrimaryColor);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
    cursor: pointer;
}
button:active:not(.disabled):not(.FloatingButton){
    transition: 0.1s;
    background: var(--LightPrimaryColor);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.35);
    cursor: pointer;
}
button.disabled:not(.FloatingButton){
    height: auto;
    width: auto;
    background: #4d4d4d;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    margin:0px 5px;
}
@keyframes _create_fbtn{
  from{
    transform: scale(0.2);
  }
  to{
    transform: scale(1);
  }
}
.FloatingButton{
    animation: _create_fbtn linear 0.2s;
    transition: 0.2s;
    background-color: var(--PrimaryColor);
    position: sticky;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 300px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    color: var(--BackgroundColor);
}
.FloatingButton:active{
    transition: 0.2s;
    background: var(--PrimaryColor);
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}
.FloatingButton:hover{
    transition: 0.2s;
    background: var(--LightPrimaryColor);
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}
.FloatingButton.disabled{
    background-color: gray;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    color: var(--BackgroundColor);
}
.FloatingButton[pos~="top"]{
    top:30px;
}
.FloatingButton[pos~="right"]{
    right:30px;
}
.FloatingButton[pos~="left"]{
    left:30px;
}
.FloatingButton[pos~="bottom"]{
    bottom: 30px;
}
.FloatingButton[pos~="center"]{
    left:45%;
    right: 50%;
}
.FloatingButton[size~="small"]{
    height: 45px;
    width:45px;
}
.FloatingButton[size~="normal"]{
    height: 60px;
    width:60px;
}
.FloatingButton[size~="large"]{
    height: 75px;
    width:75px;
}
d-navbar{
  margin: 0;
  display: flex;
  box-sizing: border-box;
  position:relative;
  overflow-x:auto;
  overflow-y: hidden;
  width: 100%;
  background: var(--PrimaryColor);
  min-height:55px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}
d-navbar[content~="center"] d-tabs {
    margin: 0 auto;
}
d-navbar[position~="top"]{
  top:0;
}
d-navbar > d-title{
  display: flex;
  font-size: 20px;
  color:white;
  position: relative;
  top:16px;
  margin-left: 5px;
  margin-right: 15px;
  white-space:nowrap;
}
d-navbar d-tabs{
  transition: 0.1s;
  display: inline-block;
  background: transparent;
  position: relative;
  overflow: auto;
  height: 95%;
  min-width: 90px;
  color: white;
  box-shadow: none;
  border: none;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 52px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
d-navbar d-tabs.selected{
  transition: 0.1s;
  border-bottom: 5px solid white;
}
d-navbar > .navbar-icon{
  margin: 0;
  position: relative;
  top: 8px;
  bottom: 0px;
  display: flex;
  height: 25px;
  width: 25px;
  padding: 5px;
  margin: 2px 8px;
  cursor: pointer;
  border-radius: 100px;
}
d-navbar > .navbar-icon:hover{
  background: rgba(255,255,255,0.4);
}
d-navbar::-webkit-scrollbar {display:none;}
d-navbar::-moz-scrollbar {display:none;}
d-navbar::-o-scrollbar {display:none;}
d-navbar::-google-ms-scrollbar {display:none;}
d-navbar::-khtml-scrollbar {display:none;}
.activity{
  background: var(--BackgroundColor);
  width: auto;
  max-height: auto;
  box-sizing: border-box;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
  position: absolute;
  overflow-y:hidden;
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.35);
  display:flex;
  flex-direction:column;
  flex:1;
}
.activity d-content{
  width: auto;
  left: 0;
  top: 0;
  right: 0;
  max-height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position:relative;
  margin:2em;
}
@keyframes _activity_slide_up{
  from{
    opacity: 0.3  ;
    transform: translateY(15%);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes _activity_slide_left{
  from{
    opacity: 0.3  ;
    transform: translateX(20%);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes _activity_slide_down{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0  ;
    transform: translateY(80px);
  }
}
@keyframes _activity_slide_right{
  from{
    opacity: 1  ;
    transform: translateX(0px);
  }
  to{
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes _activity_expand_in{
  from{
    transform: scale(0.8);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes _activity_expand_off{
  from{
    transform: scale(1);
    opacity: 1;
  }
  to{
    transform: scale(0.8);
    opacity: 0;
  }
}
@keyframes _activity_opacity_off{
  from{
    opacity: 0;
    left: 0;
  }
  to{
    opacity: 1;
    left: 0;
  }
}

.spacer{
  border-top:2px solid lightgray;
  width: 100%;
  height: 2px;
  margin: 2px 0;
}
.dialog > .dialog_background{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.dialog > .dialog_window{
  animation: _dialog_fade_in linear 0.17s;
  min-height: 175px;
  max-height: 90%;
  width: 300px;
  padding: 10px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}
.dialog_window > dialog-title{
  font-size: 20px;
  float: left;
  padding: 15px;
}
@keyframes _dialog_fade_in{
  from{
    transform: translate(-50%,-45%);
    opacity: 0.3;
  }
  to{
    transform: translate(-50%,-50%);
    opacity:1;
  }
}
.menu{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex:0;
}
.menu.hiding > .menu_window{
    animation:_menu_left 0.35s;
}
.menu.hiding > .menu_background{
    transition: 0.3s;
    opacity:0;
}
.menu > .menu_background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow:none;
    background: rgba(0,0,0,0.7);
}
.menu > .menu_window{
  animation: _menu_right linear 0.15s;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  overflow:auto;
  height: 100%;
  width: 200px;
}
.menu > .menu_window d-list-appdrawer button{
  margin: 0;
  padding-left: 12px;
  width: 100%;
  position: relative;
  position: block;
  height: 50px;
  background: transparent;
  box-shadow: none;
  color: black;
  text-align: left;
}
.menu > .menu_window  button:hover{
  background: lightgray;
  box-shadow: none;
}
.menu > .menu_window  button:active{
  background: lightgray;
  box-shadow: none;
}
@keyframes _menu_right{
  from{
      transform: translateX(-50%);
      opacity: 0.4;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes _menu_left{
  from{
     transform: translateX(0%);
     opacity: 1;
  }
  to{
    transform: translateX(-95%);
    opacity: 0;
  }
}
div.card{
  height: auto;
  width: auto;
  padding: 10px;
  margin: 8px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  overflow: auto;
}
div.card2{
  padding: 10px;
  margin: 810x;
  border:2px solid rgb(165,164,164);
  border-radius: 2px;
  overflow: auto;
}
ul li{
  padding:7px 0px;
}
div[content~="center"]{
  justify-content: center;
  text-align: center;
  height: auto
  display:inline-block;
}
div[content~="center-center"]{
  height: 100%;
  width: 100%
}
div[content~="center-center"] > *{
  position: absolute;
  margin-block-end:0;
  margin-block-start:0;
  top:50%;
  left:50%;
  transform: translate(-55%,-50%);
  text-align: center;
  padding: 0;
  margin: 0;
}
